@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');

.weddingtitle{
    font-size: 80px;
    font-family: 'Charm', cursive;
    font-weight: 700;
    color: white;
}
.weddingrow{
    background-image: url('../../../asset/weddingbg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.weddingcolam{
    background-color: rgba(58, 57, 57, 0.528);
}
.anniversaryrow{
    background-image: url('../../../asset/anniversarybg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.birthdayrow{
    background-image: url('../../../asset/Birthday_Bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.valentinesrow{
    background-image: url('../../../asset/valentinebg.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}
.Springrow{
    background-image: url('../../../asset/spring.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}
.springtxt{
    color: #710a20;
}
.Summerrow{
    background-image: url('../../../asset/summerbg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}
.categorybtn{
    border: solid #710a20 4px;
    color: #144b3c;
}
.annversaryqutesrow{
    background-image: url('../../../asset/anniversaryqutes.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.birthdayqutesrow{
    background-image: url('../../../asset/birthdayqutes.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.valentinesqutesrow{
    background-image: url('../../../asset/valentinequtes.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.weddingqutesrow{
    background-image: url('../../../asset/weddingqutes.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-width:688px) {
    .weddingtitle{
        font-size: 60px;
        font-family: 'Charm', cursive;
        font-weight: 700;
        color: white;
    }
}