@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');

.weddingtitle{
    font-size: 80px;
    font-family: 'Charm', cursive;
    font-weight: 700;
    color: white;
}
.weddingrow{
    background-image: url('../../../asset/weddingbg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.weddingcolam{
    background-color: rgba(58, 57, 57, 0.528);
}
.anniversaryrow{
    background-image: url('../../../asset/anniversarybg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.birthdayrow{
    background-image: url('../../../asset/Birthday_Bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
@media only screen and (max-width:688px) {
    .weddingtitle{
        font-size: 60px;
        font-family: 'Charm', cursive;
        font-weight: 700;
        color: white;
    }
}